.card {
  flex-wrap: wrap;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  height: 200px;
  width: 320px;
  background-color: #fff;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  height: 50px;

}

.user-info strong {
  display: block;
  font-size: 16px;
}

.user-info span {
  font-size: 13px;
  color: #999;
}

.bio {
  margin: 10px 0;
  padding: 5px 0;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
}

.link:hover {
  background-color: #303030;
  color: #fff;
}